.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter p {
  text-align: center;
  font-size: 1.25rem;
  padding: 0 1rem 1.5rem;
  color: #fff;
}

.control input {
  font-size: 1.225rem;
  color: #000;
  padding: 0.75rem 0.5rem;
  border: none;
}

.control input:focus {
  border: none;
  outline: none;
  background-color: #f8f6f6;
}

.control {
  display: flex;
}

.control input {
  flex: 1;
}

@media screen and (max-width: 450px) {
  .control {
    display: flex;
    flex-direction: column;
  }

  .control input {
    margin-bottom: 1.5rem;
  }
}
