.links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 0 1rem 1rem;
  column-gap: 1rem;
}

.link-group {
  padding: 1.5rem 0 0;
}

.links h2 {
  color: #800;
  padding-bottom: 0.5rem;
}

.links li {
  padding: 0.5rem 0;
}

.links li a {
  color: #000;
}

.links li a:hover {
  color: #800;
}
