.filter-events {
  background-color: #fff;
}

.filter-events p {
  font-size: 2rem;
  padding: 2rem 1rem;
  line-height: 1.4;
  text-align: center;
}

.form {
  padding: 0 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.control {
  padding: 0 0.5rem;
  border: none;
  outline: none;
}

.label {
  padding-bottom: 0.75rem;
}

.control label {
  color: #800;
  font-size: 1.25rem;
  padding: 2rem 0;
}

.control select {
  border: 1px solid #800;
  border-radius: 0;
  width: 20rem;
  padding: 0.65rem 0.1rem;
  font-size: 1.05rem;
}

.control select:focus {
  border: 1px solid #888;
  outline: none;
}

@media screen and (max-width: 768px) {
  .filter-events p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .form {
    gap: 2rem;
  }

  .controls {
    gap: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .control select {
    width: 15rem;
  }
}
