.events {
  display: flex;
  justify-content: space-around;
  align-items: center;
  row-gap: 3rem;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 3rem;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
