.hero {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: calc(100vh - 6rem);
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  background-image: linear-gradient(180deg, #000000 0%, #0000003c 100%);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2rem;
}

.content h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 3.5rem;
  color: #fff;
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  .content h1 {
    width: 100%;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .content {
    top: 60%;
  }

  .content h1 {
    width: 100%;
    font-size: 2.5rem;
  }
}
