.header {
  width: 100%;
  height: 5rem;
  background-color: #800;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 1rem;
}

.nav-items {
  display: flex;
}

.nav-items li {
  margin: 0 1rem;
}

.nav-items li a {
  color: #fff;
  font-size: 1.25rem;
}
