.header,
.alt-header {
  width: 100%;
  height: 6rem;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 3333;
  padding: 0 1rem;
}

.alt-header {
  display: none;
}

.navbar,
.alt-navbar {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 40000;
}

.logo a {
  color: #fff;
  font-size: 2rem;
}

.toggle-links svg {
  font-size: 2.5rem;
  color: #fff;
  padding-top: 0.5rem;
}

.nav-items {
  display: flex;
}

.nav-items li {
  margin: 0 1rem;
}

.nav-items li a {
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }

  .alt-header {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .logo a {
    font-size: 2rem;
  }
}
