.process {
  background-color: #fff;
  height: 100vh;
  padding: 0 1rem;
}

.process h1 {
  color: #800;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding-bottom: 1.5rem;
}

.btns button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}

.btns button:active {
  color: #800;
  text-decoration: underline;
  text-underline-offset: 1.8rem;
}

.process hr {
  border-top: 1px solid #c1c0c0;
}
