.notification {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.5rem 10%;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  z-index: 5444;
}

.pending {
  background-color: #800;
}

.success {
  background-color: #10be58;
}

.error {
  background-color: #e65035;
}
